.heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.upper-row {
    display: flex;
    border: 1px solid black;
    
}

.left-box {
    border: 1px solid black;
    padding: 5px;
}

.middle-box {
    border: 1px solid black;
    padding: 5px;
}

.right-box {
    border: 1px solid black;
    padding: 5px;
}