.heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.upper-row {
    display: flex;
    border: 1px solid black;
    
}

.left-box {
    border: 1px solid black;
    padding: 5px;
}

.middle-box {
    border: 1px solid black;
    padding: 5px;
}

.right-box {
    border: 1px solid black;
    padding: 5px;
}

.lower-row {
    display: flex;
    border: 1px solid black;
    
}

.lower-left {
    border: 1px solid black;
    padding: 5px;
    width: 30%;
}

.lower-right {
    border: 1px solid black;
    padding: 5px;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    
}

.lr1 {
    background-color: aliceblue;
}

.lr2 {
    background-color: aquamarine;
}

.lr3 {
    background-color: aqua;
}

.lr4 {
    background-color: beige;
}

.lr5 {
    background-color: blanchedalmond;
}