.main-head {
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    font-family: 'Architects Daughter', cursive;
    text-transform: uppercase;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    margin: 50px 0; /* 50px means top,bottom 50px and 0 means left and right*/
    
    /* Alternate 3
    margin: 50px 0 50px 0; North East South West
    */
}